.searchUser {
    position: relative;
    top: 15px;
    flex-basis: 40%;
  }
  .icon-add {
    position: absolute;
    left: 94%;
    bottom: 72px;
  }
  .flex-table {
    display: flex;
  }
  .tittle {
    color: #666666;
    padding-left: 20px;
    flex-basis: 50%;
  }
.select-role {
  width: 100%;
}
.dialog-title {
  text-align: center;
}